<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>Photocracy</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700,300|Oswald:400,300' rel='stylesheet' type='text/css'>
	<link href="static/normalize.css" rel="stylesheet" type="text/css">
	<link href="static/sofab.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="static/jayz.js"></script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">   </script>
	<![endif]-->
</head>
<header>
	<h1>Photocracy</h1>
	<button id="submit-challenge-button">Create category</button>
	<hr>
</header>
<body>
	<div id="fb-root"></div>
	<script>
	var accessToken;
	
	window.fbAsyncInit = function() {
		FB.init({appId : '126895384148490', status : true, cookie : true, oauth : true, xfbml : true});
		FB.Event.subscribe('auth.login', function() {
		  window.location.reload();
		});
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
			  	window.location.reload();
			}
		});
	};
	
	(function() {
		var js = document.createElement('script');
		js.type = 'text/javascript';
		js.src = "//connect.facebook.net/en_US/all.js";
		js.async = true;
    	document.getElementById('fb-root').appendChild(js);
    }());
	</script>
	<div id="background">
		<img src="http://www.pue.itesm.mx/comunicacion/ProgramasInternacionales/img/Paises/32/Universidades/16/waterloo.jpg">
	</div>
	<div id="challenge-list">
		<div class="ribbon"><h2>Categories</h2></div>
		{{#challenge_list}}
		<span>{{user}} {{title}}</span> 
		{{/challenge_list}}
	</div>
	<div id="form" style="display:none">
		<div class="ribbon"><h2>Create Challenge</h2></div>
		<form>
			<label>Category</label></br>
			<input id="challenge-input"></br>
		</form>
		<button id="challenge-submit-button">Create</button>
	</div>
</body>
<footer>
	<hr>
</footer>
</html>
