html {
	background-color: rgb(255,255,255);
}

body {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

h1, h2, button {
	font-family: 'Oswald', 'Arial', sans-serif;
	font-weight: normal;
}

button {
	font-family: 'Open Sans', 'Arial', sans-serif;
}

#background {
	position: inherit;
	top: -100px;
	height: 100%;
	width: 100%;
	background-image: url('http://subtlepatterns.com/patterns/outlets.png');
	overflow: hidden;
	z-index: -2;
}

#background img {
	width: 100%;
	opacity: 0.45;
}

.transparent {
}

#content {
	z-index: 100;
}

#content h1 {
	color: rgb(255,255,255);
	text-align: center;
}

#podium {
	width: 1060px;
	margin: 0 auto;
}

#champ, #silver, #bronze {
	display: inline-block;
	border-top: 1px solid rgba(170,170,170,0.5);
	border-bottom: 1px solid rgba(170,170,170,0.5);
}

#champ {
	background-color: rgba(251,184,41,0.7);
	width: 400px;
	height: 460px;
}

#silver {
	background-color: rgba(160,160,160,0.7);
	margin-right: 25px;
	width: 300px;
	height: 330px;
}

#bronze {
	background-color: rgba(150,90,56,0.7);
	margin-left: 25px;
	width: 250px;
	height: 280px;
}

#champ, #silver, #bronze {
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#silver, #bronze {
	vertical-align: text-bottom;
}

#champ img {
	margin-left: 10px;
	margin-top: 40px;
	max-width: 380px;
	max-height: 380px;
}

#silver img {
	margin-left: 10px;
	margin-top: 40px;
	max-width: 280px;
	max-height: 280px;
}

#bronze img {
	margin-left: 10px;
	margin-top: 40px;
	max-width: 230px;
	max-height: 230px;
}

#champ h2, .ribbon h2 {
	margin: 0;
	color: rgb(0,0,0);
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px rgb(170,170,170);
}

#champ-name {
	padding-top: 15px !important;
	text-transform: none !important;
}

.ribbon {
    width: 400px;
    margin: 8px auto;
    margin-left: -10px;
    padding: 0 10px 0;
    position: relative;
    background: rgb(251,184,41);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ribbon h2::before, .ribbon h2::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    z-index: -1;
	border-bottom:10px solid transparent;  /* left arrow slant */
	border-top:10px solid transparent; /* right arrow slant */
	border-right:10px solid #2f2f2f; /* bottom, add background color here */   
}

.ribbon h2::after {
	border-right:0;
	border-bottom:10px solid transparent;  /* left arrow slant */
	border-top:10px solid transparent; /* right arrow slant */
	border-left:10px solid #2f2f2f; /* bottom, add background color here */
}

#silver .ribbon {
	background: rgb(160,160,160);
	width: 300px;
}

#bronze .ribbon {
	background: rgb(150,90,56);
	width: 250px;
}

#form .ribbon {
	background: rgb(22,147,165);
	width: 350px;
}

#challenge-list .ribbon {
	background: rgb(255,255,255);
	width: 450px;
	margin-bottom: 10px;
}

#form h2 {
	color: rgb(255,255,255) !important;
	font-size: 1.5em;
}

.ribbon h2::before {left: 0;}
.ribbon h2::after {right: 0;}

#submit-challenge-button {
	position: absolute;
	top: 20px;
	right: 25px;
	height: 40px;
	width: 140px;
	border: 0;
	color: rgb(255,255,255);
	background-color: #1693A5;
}

#challenge-button {
	font-size: 1.2em;
	border: 0;
	background-color: #F02311;
	width: 200px;
	height: 80px;
}

#challenge-button-container {
	width: 200px;
	margin: 0 auto;
	margin-top: 50px;
}

h1 {
	color: rgb(2,100,117);
	letter-spacing: 1px;
	text-shadow: 0 -1px rgb(80,80,80);
	text-transform: uppercase;
}

h1 .italic {
	font-style: italic;
	font-weight: 300;
	text-transform: none;
}

header h1{
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
}

header, footer {
	background-color: rgba(255,255,255,0.85);
	z-index: 1;
}

footer {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 100px;
}

hr {
	margin: 0;
}

header hr {
	height: 0 px;
	border-top: 0;
	border-bottom: 2px solid #1693A5;
}

header {
    box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}

footer hr {
	border: 0;
	background-image: url('stripes33.png');
	height: 4px;
	margin: 0;
}

#form {
	position: absolute;
	top: 0;
	right: 25px;
	background-color: rgba(22,147,165,0.85);
	width: 350px;
	height: 260px;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 30px;
	z-index: 3;
}

#form form {
	font-family: 'Open Sans', 'Arial', sans-serif;
	padding-top: 40px;
	padding-left: 68px;
	padding-bottom: 50px;
}

#form button {
	background-color: rgb(255,255,255);
	border: 0;
	margin-left: 132px;
	width: 80px;
	height: 30px;
}

#challenge-list {
	width: 450px;
	height: 600px;
	margin: 0 auto;
	margin-top: 25px;
	padding-top: 10px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
}

#challenge-list span {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 1.5em;
}
